page-home {
    .ion-content-group {
        border: 1px solid #BA265D;
        border-radius: 4px;        
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }  

    .ion-content-group-2 {
        width: 100%;    
    }

    .ion-item-flight {
        margin-bottom: 20px;
    }

    ion-label {
        margin-bottom: 2px;
    }

    ion-input {
        font-weight: bold; 
        font-size: 20px;
    }    
}
